apiVersion: v1
kind: Service
metadata:
  name: {{ include "postgres.fullname" . }}
  namespace: {{ .Release.Namespace }}
spec:
  type: ClusterIP
  selector:
    app: {{ .Chart.Name }}
    release: {{ .Release.Name }}
  ports:
    - protocol: TCP
      name: postgres-http
      port: {{ .Values.app.postgres.databasePort }}
      targetPort: {{ .Values.app.postgres.databasePort }}
